body{
  font-family: 'Knewave',cursive;
}

.title{
 font-family: 'Knewave',cursive;
 text-align: center;
 font-size: 120px;
 padding: 150px;
 display: block;
 postion: fixed;
}

.submit{
  text-align:center;
}
.input-group{
  width: 50%;
  padding: 5px;
  margin: auto;
  border: none;
}

.a: link {
  color: black;
}

.fa {
  color:black;
  border: black;
  
}
.logoimg{
  height:500px;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
.fa-paw{
  background-color: none;
}
.catinfo{
  text-align: center;
  font-size: 25px;
}
.cat_banner{
  width: 100%;  
}
.wrapper{
  font-colour: black;
  text-align: center;
}
.contact{
  text-align:center;
  font-size: 25px;
}

                                                   /* profile css*/

.profile-picture {
    border: 1px solid #CCC;
    background-color: #FFF;
    padding: 2px;
    display: inline-block;
    max-width: 100%;
    box-sizing: border-box;
    box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .15)
}

.submitlogout{
  float:right;
}

.profilename{
  text-align: right;
  float:right;
}
.widget-main{
  float:right;
  inline-box-align:right;
}