body{
  font-family: 'Knewave',cursive;

  
}

.title{
 font-family: 'Knewave',cursive;
 text-align: center;
 font-size: 120px;
 padding: 150px;
 display: block;
 postion: fixed;
}

.submit{
  text-align:center;
}
.input-group{
  width: 50%;
  padding: 5px;
  margin: auto;
  border: none;
 
 
}
.topnav-right{
  float:right;
  text-decoration-color: black;
  font-size:30px;
  padding: 30px;
  
  
}

.topnavlist{
  list-style: none;
  margin:0;
  padding:0;
}

.a: link {
  color: black;
}

.fa {
  color:black;
  border: black;
  
}
.logoimg{
  height:500px;
  display:block;
  margin-left:auto;
  margin-right:auto;
 
}

.bottomnav{
  color: black;
  float: left;
  font-size: 20px;
  padding: 60px;
  display:inline-block;
}