doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Meowster
    // bootstrap links
    link(href='https://fonts.googleapis.com/css?family=Knewave', rel='stylesheet')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css', integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb', crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js', integrity='sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js', integrity='sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ', crossorigin='anonymous')
    link(href='https://use.fontawesome.com/releases/v5.1.0/css/all.css', integrity='sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt', crossorigin='anonymous', rel='stylesheet')
    link(href='/style.css', rel='stylesheet', type='text/css')
    script(src='/javascript/client_register.js')
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      span.input-group-addon
        span.fas.fa-paw.fa-1x.fa-background-none
      a.navbar-brand(href='/') Home
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarText', aria-controls='navbarText', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarText.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-about
            a.nav-link(href='aboutus')
              | About Us 
              span.sr-only (current)
          li.nav-sponsor
            a.nav-link(href='sponsor') Sponsor
        ul.navbar-nav.ml-auto
          li.nav-login
            a.nav-link(href='login')
              | Login 
              span.sr-only (current)
          li.nav-sponsor
            a.nav-link(href='register') Register
    h1.title User Profile
    .submit
      br
      input#submit(type='submit', value='Log out')
    #user-profile-2.user-profile
      .tabbable
        ul.nav.nav-tabs.padding-18
          li.active
            a(data-toggle='tab', href='#home')
              i.green.ace-icon.fa.fa-user.bigger-120
              | 						Profile
          li
            a(data-toggle='tab', href='#feed')
              i.orange.ace-icon.fa.fa-rss.bigger-120
              | 						Activity Feed
          li
            a(data-toggle='tab', href='#friends')
              i.blue.ace-icon.fa.fa-users.bigger-120
              | 						Friends
          li
            a(data-toggle='tab', href='#pictures')
              i.pink.ace-icon.fa.fa-picture-o.bigger-120
              | 						Pictures
        .tab-content.no-border.padding-24
          #home.tab-pane.in.active
            .row
              .col-xs-12.col-sm-3.center
                span.profile-picture
                  img#profilepic.editable.img-responsive(alt=' pic', src='images/sandra.jpg')
                .space.space-4
                a.btn.btn-sm.btn-block.btn-success(href='#')
                  i.ace-icon.fa.fa-plus-circle.bigger-120
                  span.bigger-110 Add as a friend
                a.btn.btn-sm.btn-block.btn-primary(href='#')
                  i.ace-icon.fa.fa-envelope-o.bigger-110
                  span.bigger-110 Send a message
              // /.col
              .col-xs-12.col-sm-9
                h4.blue
                  span.middle Sandra Bullock
                  span.label.label-purple.arrowed-in-right
                    i.ace-icon.fa.fa-circle.smaller-80.align-middle
                    | 									online
                .profile-user-info
                  .profile-info-row
                    .profile-info-name  Username 
                    .profile-info-value
                      span alexdoe
                  .profile-info-row
                    .profile-info-name  Location 
                    .profile-info-value
                      i.fa.fa-map-marker.light-orange.bigger-110
                      span United States of America
                      span New Orleans
                  .profile-info-row
                    .profile-info-name  Age 
                    .profile-info-value
                      span 53
                  .profile-info-row
                    .profile-info-name  Joined 
                    .profile-info-value
                      span 2010/06/20
                  .profile-info-row
                    .profile-info-name  Last Online 
                    .profile-info-value
                      span 3 hours ago
                .hr.hr-8.dotted
                .profile-user-info
                  .profile-info-row
                    .profile-info-name  Website 
                    .profile-info-value
                      a(href='#', target='_blank') www.sandrabullock.com
                  .profile-info-row
                    .profile-info-name
                      i.middle.ace-icon.fa.fa-facebook-square.bigger-150.blue
                    .profile-info-value
                      a(href='#') Find me on Facebook
                  .profile-info-row
                    .profile-info-name
                      i.middle.ace-icon.fa.fa-twitter-square.bigger-150.light-blue
                    .profile-info-value
                      a(href='#') Follow me on Twitter
              // /.col
            // /.row
            .space-20
            .row
              .col-xs-12.col-sm-6
                .widget-box.transparent
                  .widget-header.widget-header-small
                    h4.widget-title.smaller
                      i.ace-icon.fa.fa-check-square-o.bigger-110
                      | 										Little About Me
                  .widget-body
                    .widget-main
                      p
                        | My job is mostly lorem ipsuming and dolor sit ameting as long as consectetur adipiscing elit.
                      p
                        | Sometimes quisque commodo massa gets in the way and sed ipsum porttitor facilisis.
                      p
                        | The best thing about my job is that vestibulum id ligula porta felis euismod and nullam quis risus eget urna mollis ornare.
                      p Thanks for visiting my profile.
          // /#home
          #feed.tab-pane
            .profile-feed.row
              .col-sm-6
                .profile-activity.clearfix
                  div
                    img.pull-left(alt="Alex Doe's avatar", src='http://bootdey.com/img/Content/avatar/avatar1.png')
                    a.user(href='#')  Alex Doe 
                    | 									changed his profile photo.
                    a(href='#') Take a look
                    .time
                      i.ace-icon.fa.fa-clock-o.bigger-110
                      | 										an hour ago
                  .tools.action-buttons
                    a.blue(href='#')
                      i.ace-icon.fa.fa-pencil.bigger-125
                    a.red(href='#')
                      i.ace-icon.fa.fa-times.bigger-125
                .profile-activity.clearfix
                  div
                    img.pull-left(alt="Susan Smith's avatar", src='http://bootdey.com/img/Content/avatar/avatar2.png')
                    a.user(href='#')  Susan Smith 
                    | 									is now friends with Alex Doe.
                    .time
                      i.ace-icon.fa.fa-clock-o.bigger-110
                      | 										2 hours ago
                  .tools.action-buttons
                    a.blue(href='#')
                      i.ace-icon.fa.fa-pencil.bigger-125
                    a.red(href='#')
                      i.ace-icon.fa.fa-times.bigger-125
                .profile-activity.clearfix
                  div
                    i.pull-left.thumbicon.fa.fa-check.btn-success.no-hover
                    a.user(href='#')  Alex Doe 
                    | 									joined
                    a(href='#') Country Music
                    | 									group.
                    .time
                      i.ace-icon.fa.fa-clock-o.bigger-110
                      | 										5 hours ago
                  .tools.action-buttons
                    a.blue(href='#')
                      i.ace-icon.fa.fa-pencil.bigger-125
                    a.red(href='#')
                      i.ace-icon.fa.fa-times.bigger-125
                .profile-activity.clearfix
                  div
                    i.pull-left.thumbicon.fa.fa-picture-o.btn-info.no-hover
                    a.user(href='#')  Alex Doe 
                    | 									uploaded a new photo.
                    a(href='#') Take a look
                    .time
                      i.ace-icon.fa.fa-clock-o.bigger-110
                      | 										5 hours ago
                  .tools.action-buttons
                    a.blue(href='#')
                      i.ace-icon.fa.fa-pencil.bigger-125
                    a.red(href='#')
                      i.ace-icon.fa.fa-times.bigger-125
                .profile-activity.clearfix
                  div
                    img.pull-left(alt="David Palms's avatar", src='http://bootdey.com/img/Content/avatar/avatar3.png')
                    a.user(href='#')  David Palms 
                    | 									left a comment on Alex's wall.
                    .time
                      i.ace-icon.fa.fa-clock-o.bigger-110
                      | 										8 hours ago
                  .tools.action-buttons
                    a.blue(href='#')
                      i.ace-icon.fa.fa-pencil.bigger-125
                    a.red(href='#')
                      i.ace-icon.fa.fa-times.bigger-125
              // /.col
              .col-sm-6
                .profile-activity.clearfix
                  div
                    i.pull-left.thumbicon.fa.fa-pencil-square-o.btn-pink.no-hover
                    a.user(href='#')  Alex Doe 
                    | 									published a new blog post.
                    a(href='#') Read now
                    .time
                      i.ace-icon.fa.fa-clock-o.bigger-110
                      | 										11 hours ago
                  .tools.action-buttons
                    a.blue(href='#')
                      i.ace-icon.fa.fa-pencil.bigger-125
                    a.red(href='#')
                      i.ace-icon.fa.fa-times.bigger-125
                .profile-activity.clearfix
                  div
                    img.pull-left(alt="Alex Doe's avatar", src='http://bootdey.com/img/Content/avatar/avatar4.png')
                    a.user(href='#')  Alex Doe 
                    | 									upgraded his skills.
                    .time
                      i.ace-icon.fa.fa-clock-o.bigger-110
                      | 										12 hours ago
                  .tools.action-buttons
                    a.blue(href='#')
                      i.ace-icon.fa.fa-pencil.bigger-125
                    a.red(href='#')
                      i.ace-icon.fa.fa-times.bigger-125
                .profile-activity.clearfix
                  div
                    i.pull-left.thumbicon.fa.fa-key.btn-info.no-hover
                    a.user(href='#')  Alex Doe 
                    | 									logged in.
                    .time
                      i.ace-icon.fa.fa-clock-o.bigger-110
                      | 										12 hours ago
                  .tools.action-buttons
                    a.blue(href='#')
                      i.ace-icon.fa.fa-pencil.bigger-125
                    a.red(href='#')
                      i.ace-icon.fa.fa-times.bigger-125
                .profile-activity.clearfix
                  div
                    i.pull-left.thumbicon.fa.fa-power-off.btn-inverse.no-hover
                    a.user(href='#')  Alex Doe 
                    | 									logged out.
                    .time
                      i.ace-icon.fa.fa-clock-o.bigger-110
                      | 										16 hours ago
                  .tools.action-buttons
                    a.blue(href='#')
                      i.ace-icon.fa.fa-pencil.bigger-125
                    a.red(href='#')
                      i.ace-icon.fa.fa-times.bigger-125
                .profile-activity.clearfix
                  div
                    i.pull-left.thumbicon.fa.fa-key.btn-info.no-hover
                    a.user(href='#')  Alex Doe 
                    | 									logged in.
                    .time
                      i.ace-icon.fa.fa-clock-o.bigger-110
                      | 										16 hours ago
                  .tools.action-buttons
                    a.blue(href='#')
                      i.ace-icon.fa.fa-pencil.bigger-125
                    a.red(href='#')
                      i.ace-icon.fa.fa-times.bigger-125
              // /.col
            // /.row
            .space-12
            .center
              button.btn.btn-sm.btn-primary.btn-white.btn-round(type='button')
                i.ace-icon.fa.fa-rss.bigger-150.middle.orange2
                span.bigger-110 View more activities
                i.icon-on-right.ace-icon.fa.fa-arrow-right
          // /#feed
          #friends.tab-pane
            .profile-users.clearfix
              .itemdiv.memberdiv
                .inline.pos-rel
                  .user
                    a(href='#')
                      img(src='http://bootdey.com/img/Content/avatar/avatar6.png', alt="Bob Doe's avatar")
                  .body
                    .name
                      a(href='#')
                        span.user-status.status-online
                        | 											Bob Doe
                  .popover
                    .arrow
                    .popover-content
                      .bolder Content Editor
                      .time
                        i.ace-icon.fa.fa-clock-o.middle.bigger-120.orange
                        span.green  20 mins ago 
                      .hr.dotted.hr-8
                      .tools.action-buttons
                        a(href='#')
                          i.ace-icon.fa.fa-facebook-square.blue.bigger-150
                        a(href='#')
                          i.ace-icon.fa.fa-twitter-square.light-blue.bigger-150
                        a(href='#')
                          i.ace-icon.fa.fa-google-plus-square.red.bigger-150
              .itemdiv.memberdiv
                .inline.pos-rel
                  .user
                    a(href='#')
                      img(src='http://bootdey.com/img/Content/avatar/avatar1.png', alt="Rose Doe's avatar")
                  .body
                    .name
                      a(href='#')
                        span.user-status.status-offline
                        | 											Rose Doe
                  .popover
                    .arrow
                    .popover-content
                      .bolder Graphic Designer
                      .time
                        i.ace-icon.fa.fa-clock-o.middle.bigger-120.grey
                        span.grey  30 min ago 
                      .hr.dotted.hr-8
                      .tools.action-buttons
                        a(href='#')
                          i.ace-icon.fa.fa-facebook-square.blue.bigger-150
                        a(href='#')
                          i.ace-icon.fa.fa-twitter-square.light-blue.bigger-150
                        a(href='#')
                          i.ace-icon.fa.fa-google-plus-square.red.bigger-150
              .itemdiv.memberdiv
                .inline.pos-rel
                  .user
                    a(href='#')
                      img(src='http://bootdey.com/img/Content/avatar/avatar2.png', alt="Jim Doe's avatar")
                  .body
                    .name
                      a(href='#')
                        span.user-status.status-busy
                        | 											Jim Doe
                  .popover
                    .arrow
                    .popover-content
                      .bolder SEO & Advertising
                      .time
                        i.ace-icon.fa.fa-clock-o.middle.bigger-120.red
                        span.grey  1 hour ago 
                      .hr.dotted.hr-8
                      .tools.action-buttons
                        a(href='#')
                          i.ace-icon.fa.fa-facebook-square.blue.bigger-150
                        a(href='#')
                          i.ace-icon.fa.fa-twitter-square.light-blue.bigger-150
                        a(href='#')
                          i.ace-icon.fa.fa-google-plus-square.red.bigger-150
              .itemdiv.memberdiv
                .inline.pos-rel
                  .user
                    a(href='#')
                      img(src='http://bootdey.com/img/Content/avatar/avatar3.png', alt="Alex Doe's avatar")
                  .body
                    .name
                      a(href='#')
                        span.user-status.status-idle
                        | 											Alex Doe
                  .popover
                    .arrow
                    .popover-content
                      .bolder Marketing
                      .time
                        i.ace-icon.fa.fa-clock-o.middle.bigger-120.orange
                        span  40 minutes idle 
                      .hr.dotted.hr-8
                      .tools.action-buttons
                        a(href='#')
                          i.ace-icon.fa.fa-facebook-square.blue.bigger-150
                        a(href='#')
                          i.ace-icon.fa.fa-twitter-square.light-blue.bigger-150
                        a(href='#')
                          i.ace-icon.fa.fa-google-plus-square.red.bigger-150
              .itemdiv.memberdiv
                .inline.pos-rel
                  .user
                    a(href='#')
                      img(src='http://bootdey.com/img/Content/avatar/avatar4.png', alt="Phil Doe's avatar")
                  .body
                    .name
                      a(href='#')
                        span.user-status.status-online
                        | 											Phil Doe
                  .popover
                    .arrow
                    .popover-content
                      .bolder Public Relations
                      .time
                        i.ace-icon.fa.fa-clock-o.middle.bigger-120.orange
                        span.green  2 hours ago 
                      .hr.dotted.hr-8
                      .tools.action-buttons
                        a(href='#')
                          i.ace-icon.fa.fa-facebook-square.blue.bigger-150
                        a(href='#')
                          i.ace-icon.fa.fa-twitter-square.light-blue.bigger-150
                        a(href='#')
                          i.ace-icon.fa.fa-google-plus-square.red.bigger-150
              .itemdiv.memberdiv
                .inline.pos-rel
                  .user
                    a(href='#')
                      img(src='http://bootdey.com/img/Content/avatar/avatar6.png', alt="Susan Doe's avatar")
                  .body
                    .name
                      a(href='#')
                        span.user-status.status-online
                        | 											Susan Doe
                  .popover
                    .arrow
                    .popover-content
                      .bolder HR Management
                      .time
                        i.ace-icon.fa.fa-clock-o.middle.bigger-120.orange
                        span.green  20 mins ago 
                      .hr.dotted.hr-8
                      .tools.action-buttons
                        a(href='#')
                          i.ace-icon.fa.fa-facebook-square.blue.bigger-150
                        a(href='#')
                          i.ace-icon.fa.fa-twitter-square.light-blue.bigger-150
                        a(href='#')
                          i.ace-icon.fa.fa-google-plus-square.red.bigger-150
              .itemdiv.memberdiv
                .inline.pos-rel
                  .user
                    a(href='#')
                      img(src='http://bootdey.com/img/Content/avatar/avatar1.png', alt="Jennifer Doe's avatar")
                  .body
                    .name
                      a(href='#')
                        span.user-status.status-offline
                        | 											Jennifer Doe
                  .popover
                    .arrow
                    .popover-content
                      .bolder Graphic Designer
                      .time
                        i.ace-icon.fa.fa-clock-o.middle.bigger-120.grey
                        span.grey  2 hours ago 
                      .hr.dotted.hr-8
                      .tools.action-buttons
                        a(href='#')
                          i.ace-icon.fa.fa-facebook-square.blue.bigger-150
                        a(href='#')
                          i.ace-icon.fa.fa-twitter-square.light-blue.bigger-150
                        a(href='#')
                          i.ace-icon.fa.fa-google-plus-square.red.bigger-150
              .itemdiv.memberdiv
                .inline.pos-rel
                  .user
                    a(href='#')
                      img(src='http://bootdey.com/img/Content/avatar/avatar2.png', alt="Alexa Doe's avatar")
                  .body
                    .name
                      a(href='#')
                        span.user-status.status-offline
                        | 											Alexa Doe
                  .popover
                    .arrow
                    .popover-content
                      .bolder Accounting
                      .time
                        i.ace-icon.fa.fa-clock-o.middle.bigger-120.grey
                        span.grey  4 hours ago 
                      .hr.dotted.hr-8
                      .tools.action-buttons
                        a(href='#')
                          i.ace-icon.fa.fa-facebook-square.blue.bigger-150
                        a(href='#')
                          i.ace-icon.fa.fa-twitter-square.light-blue.bigger-150
                        a(href='#')
                          i.ace-icon.fa.fa-google-plus-square.red.bigger-150
            .hr.hr10.hr-double
            ul.pager.pull-right
              li.previous.disabled
                a(href='#') ← Prev
              li.next
                a(href='#') Next →
          // /#friends
          #pictures.tab-pane
            ul.ace-thumbnails
              li
                a(href='#', data-rel='colorbox')
                  img(alt='150x150', src='http://lorempixel.com/200/200/nature/1/')
                  .text
                    .inner Sample Caption on Hover
                .tools.tools-bottom
                  a(href='#')
                    i.ace-icon.fa.fa-link
                  a(href='#')
                    i.ace-icon.fa.fa-paperclip
                  a(href='#')
                    i.ace-icon.fa.fa-pencil
                  a(href='#')
                    i.ace-icon.fa.fa-times.red
              li
                a(href='#', data-rel='colorbox')
                  img(alt='150x150', src='http://lorempixel.com/200/200/nature/2/')
                  .text
                    .inner Sample Caption on Hover
                .tools.tools-bottom
                  a(href='#')
                    i.ace-icon.fa.fa-link
                  a(href='#')
                    i.ace-icon.fa.fa-paperclip
                  a(href='#')
                    i.ace-icon.fa.fa-pencil
                  a(href='#')
                    i.ace-icon.fa.fa-times.red
              li
                a(href='#', data-rel='colorbox')
                  img(alt='150x150', src='http://lorempixel.com/200/200/nature/3/')
                  .text
                    .inner Sample Caption on Hover
                .tools.tools-bottom
                  a(href='#')
                    i.ace-icon.fa.fa-link
                  a(href='#')
                    i.ace-icon.fa.fa-paperclip
                  a(href='#')
                    i.ace-icon.fa.fa-pencil
                  a(href='#')
                    i.ace-icon.fa.fa-times.red
              li
                a(href='#', data-rel='colorbox')
                  img(alt='150x150', src='http://lorempixel.com/200/200/nature/4/')
                  .text
                    .inner Sample Caption on Hover
                .tools.tools-bottom
                  a(href='#')
                    i.ace-icon.fa.fa-link
                  a(href='#')
                    i.ace-icon.fa.fa-paperclip
                  a(href='#')
                    i.ace-icon.fa.fa-pencil
                  a(href='#')
                    i.ace-icon.fa.fa-times.red
              li
                a(href='#', data-rel='colorbox')
                  img(alt='150x150', src='http://lorempixel.com/200/200/nature/5/')
                  .text
                    .inner Sample Caption on Hover
                .tools.tools-bottom
                  a(href='#')
                    i.ace-icon.fa.fa-link
                  a(href='#')
                    i.ace-icon.fa.fa-paperclip
                  a(href='#')
                    i.ace-icon.fa.fa-pencil
                  a(href='#')
                    i.ace-icon.fa.fa-times.red
              li
                a(href='#', data-rel='colorbox')
                  img(alt='150x150', src='http://lorempixel.com/200/200/nature/6/')
                  .text
                    .inner Sample Caption on Hover
                .tools.tools-bottom
                  a(href='#')
                    i.ace-icon.fa.fa-link
                  a(href='#')
                    i.ace-icon.fa.fa-paperclip
                  a(href='#')
                    i.ace-icon.fa.fa-pencil
                  a(href='#')
                    i.ace-icon.fa.fa-times.red
              li
                a(href='#', data-rel='colorbox')
                  img(alt='150x150', src='http://lorempixel.com/200/200/nature/7/')
                  .text
                    .inner Sample Caption on Hover
                .tools.tools-bottom
                  a(href='#')
                    i.ace-icon.fa.fa-link
                  a(href='#')
                    i.ace-icon.fa.fa-paperclip
                  a(href='#')
                    i.ace-icon.fa.fa-pencil
                  a(href='#')
                    i.ace-icon.fa.fa-times.red
              li
                a(href='#', data-rel='colorbox')
                  img(alt='150x150', src='http://lorempixel.com/200/200/nature/1/')
                  .text
                    .inner Sample Caption on Hover
                .tools.tools-bottom
                  a(href='#')
                    i.ace-icon.fa.fa-link
                  a(href='#')
                    i.ace-icon.fa.fa-paperclip
                  a(href='#')
                    i.ace-icon.fa.fa-pencil
                  a(href='#')
                    i.ace-icon.fa.fa-times.red
          // /#pictures
